<!DOCTYPE html>
<html>
<head>
  <title>hotels Search</title>
  <link rel="stylesheet" href="/bootstrap.css" type="text/css">
</head>
<body>

<div class="container">

  <div class="row">
    <a class="btn btn-link" href="/search">Flights</a>
  </div>

  <div class="row">

    <div class="col pb-3">
      <div class="form-inline">

        <div class="input-group w-100">
          <input type="text" class="form-control" name="city" placeholder="City ...">
          <button id="searchBtn"
                  class="btn btn-primary input-group-addon">Search
          </button>
        </div>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div id="hotelsContainer"></div>
    </div>
  </div>
</div>

<script id="hotelsTemplate" type="text/x-jQuery-tmpl">
  <div class="card">
    <table class="table">
      <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>City</th>
        <th>Stars</th>
      </tr>
      </thead>

      {{each hotels}}
      <tr>
        <td>${id}</td>
        <td>${hotelName}</td>
        <td>${hotelCity}</td>
        <td>${hotelStarRating}</td>
      </tr>
      {{/each}}
    </table>
  </div>
</script>

<script src="/jquery.min.js"></script>
<script type="text/javascript"
        src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
<script>
  $(document).ready(function () {

    $('#searchBtn').click(function () {
      var city = $("input[name=city]").val();
      $.get('/hotels/search?search=' + city, handlehotels);
    });

    $.get('/hotels/top', handlehotels);

    function handlehotels(data) {
      var hotels = JSON.parse(data);
      $("#hotelsContainer").empty();
      $("#hotelsTemplate").tmpl({hotels: hotels}).appendTo("#hotelsContainer");
    }
  });
</script>

</body>
</html>
